Repository prgrms-be-devcourse/BEDV2_o-house, pull requests merged in 2022-07, with the labels that each got.

#23 [feat] 집들이 단일 조회(조회수 증가)
  .gitignore
  src/main/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostInfoResult.java
  src/main/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/CreateHousewarmingPostCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/HousewarmingPostServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/Family.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPost.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousingType.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaHousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/custom/QueryDSLHousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/impl/JpaHousewarmingPostRepositoryImpl.java
  src/main/java/com/prgrms/ohouse/web/community/housewarming/api/HousewarmingPostController.java
  src/test/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostServiceImplTest.java
  src/test/java/com/prgrms/ohouse/web/api/HousewarmingPostControllerTest.java
Labels: Team-Joseph, Community

#25 [feat] 팔로우 엔티티 생성 및 팔로우, 언팔로우 기능
  src/main/java/com/prgrms/ohouse/domain/user/application/FollowService.java
  src/main/java/com/prgrms/ohouse/domain/user/application/UserService.java
  src/main/java/com/prgrms/ohouse/domain/user/application/commands/UserUpdateCommand.java
  src/main/java/com/prgrms/ohouse/domain/user/application/impl/FollowServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/user/application/impl/UserServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/user/model/Gender.java
  src/main/java/com/prgrms/ohouse/domain/user/model/GenderType.java
  src/main/java/com/prgrms/ohouse/domain/user/model/User.java
  src/main/java/com/prgrms/ohouse/domain/user/model/UserImage.java
  src/main/java/com/prgrms/ohouse/domain/user/model/UserRepository.java
  src/main/java/com/prgrms/ohouse/domain/user/model/exception/FollowFailedException.java
  src/main/java/com/prgrms/ohouse/domain/user/model/exception/UnFollowFailedException.java
  src/main/java/com/prgrms/ohouse/domain/user/model/follow/Follow.java
  src/main/java/com/prgrms/ohouse/domain/user/model/follow/FollowRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaFollowRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaUserRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/custom/JpaUserRepositoryCustom.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/impl/JpaUserRepositoryImpl.java
  src/main/java/com/prgrms/ohouse/web/user/api/FollowApiExceptionHandler.java
  src/main/java/com/prgrms/ohouse/web/user/api/FollowRestController.java
  src/main/java/com/prgrms/ohouse/web/user/api/UserApiExceptionHandler.java
  src/main/java/com/prgrms/ohouse/web/user/api/UserRestController.java
  src/main/java/com/prgrms/ohouse/web/user/requests/UserUpdateRequest.java
  src/main/java/com/prgrms/ohouse/web/user/results/ErrorCode.java
  src/main/java/com/prgrms/ohouse/web/user/results/UserInfoResult.java
  src/test/java/com/prgrms/ohouse/domain/user/application/impl/FollowServiceImplTest.java
  src/test/java/com/prgrms/ohouse/domain/user/application/impl/UserServiceImplTest.java
  src/test/java/com/prgrms/ohouse/web/user/api/FollowRestControllerTest.java
  src/test/java/com/prgrms/ohouse/web/user/api/UserRestControllerTest.java
Labels: Team-Joseph, User

#26 Yr2 109 상품 주문
  src/main/java/com/prgrms/ohouse/domain/commerce/application/OrderService.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/command/OrderAddCommand.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/command/OrderItemAddCommand.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/impl/OrderServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/cart/Cart.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/order/DeliveryType.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/order/Order.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/order/OrderItem.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/order/OrderItemRepository.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/order/OrderRepository.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/product/Attribute.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/product/Category.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/product/Product.java
  src/main/java/com/prgrms/ohouse/domain/user/model/User.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaOrderItemRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaOrderRepository.java
  src/main/java/com/prgrms/ohouse/web/commerce/api/RestOrderController.java
  src/main/java/com/prgrms/ohouse/web/commerce/requests/OrderAddRequest.java
  src/main/java/com/prgrms/ohouse/web/commerce/requests/OrderItemAddRequest.java
  src/main/java/com/prgrms/ohouse/web/commerce/results/OrderAddResult.java
  src/test/java/com/prgrms/ohouse/domain/commerce/application/impl/CartServiceImplTest.java
  src/test/java/com/prgrms/ohouse/domain/commerce/application/impl/OrderServiceImplTest.java
  src/test/java/com/prgrms/ohouse/domain/commerce/model/order/OrderTest.java
  src/test/java/com/prgrms/ohouse/web/commerce/api/RestOrderControllerTest.java
  src/test/java/com/prgrms/ohouse/web/commerce/api/RestProductControllerTest.java
Labels: Team-Joseph, Common, Commerce

#27 [feat] 집들이 페이징 조회 API & UserAuditorAware 적용
  src/main/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/HousewarmingPostCreateCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/HousewarmingPostUpdateCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/HousewarmingPostServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/Budget.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPost.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaHousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/custom/QueryDSLHousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/impl/JpaHousewarmingPostRepositoryImpl.java
  src/main/java/com/prgrms/ohouse/web/community/housewarming/api/HousewarmingPostController.java
  src/main/java/com/prgrms/ohouse/web/community/requests/HousewarmingPostCreateRequest.java
  src/test/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostServiceImplTest.java
  src/test/java/com/prgrms/ohouse/infrastructure/TestDataProvider.java
  src/test/java/com/prgrms/ohouse/web/api/HousewarmingPostControllerTest.java
Labels: Team-Joseph, Community

#29 [feat] 집들이 수정 API ( + REST docs)
  src/main/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/HousewarmingPostUpdateCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/HousewarmingPostServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPost.java
  src/main/java/com/prgrms/ohouse/web/community/housewarming/api/RestHousewarmingPostController.java
  src/main/java/com/prgrms/ohouse/web/community/requests/HousewarmingPostUpdateRequest.java
  src/test/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostServiceImplTest.java
  src/test/java/com/prgrms/ohouse/web/api/HousewarmingPostControllerTest.java
  src/test/java/com/prgrms/ohouse/web/community/api/RestHousewarmingPostControllerTest.java
Labels: Team-Joseph, Community

#31 [add] rest docs
  src/main/java/com/prgrms/ohouse/domain/user/application/impl/UserServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/user/model/User.java
  src/test/java/com/prgrms/ohouse/domain/user/application/impl/FollowServiceImplTest.java
  src/test/java/com/prgrms/ohouse/web/user/api/FollowRestControllerTest.java
  src/test/java/com/prgrms/ohouse/web/user/api/JwtAuthenticationFilterTest.java
  src/test/java/com/prgrms/ohouse/web/user/api/UserRestControllerTest.java
  src/test/java/com/prgrms/ohouse/web/user/requests/UserCreateRequestTest.java
Labels: Team-Joseph

#30 [feat] 오더 조회 기능 추가
  src/main/java/com/prgrms/ohouse/domain/commerce/application/OrderService.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/command/OrderViewCommand.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/converter/OrderConverter.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/impl/CartServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/impl/OrderServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/order/OrderRepository.java
  src/main/java/com/prgrms/ohouse/web/commerce/api/RestOrderController.java
  src/main/java/com/prgrms/ohouse/web/commerce/results/OrderViewItemResult.java
  src/main/java/com/prgrms/ohouse/web/commerce/results/OrderViewProductResult.java
  src/test/java/com/prgrms/ohouse/domain/commerce/application/impl/OrderServiceImplTest.java
  src/test/java/com/prgrms/ohouse/web/commerce/api/RestOrderControllerTest.java
Labels: Team-Joseph, Commerce

#33 [feat] 집들이 댓글 CRUD API
  src/main/java/com/prgrms/ohouse/domain/common/file/MultipartFileManager.java
  src/main/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostCommentInfoResult.java
  src/main/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/QuestionCommentService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/QuestionPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/UnauthorizedContentAccessException.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/HousewarmingPostCommentCreateCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/HousewarmingPostCommentUpdateCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/QuestionCommentRegisterCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/QuestionCommentUpdateCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/QuestionPostRegisterCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/QuestionPostUpdateCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/HousewarmingPostServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/QuestionCommentServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/QuestionPostServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPostComment.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPostCommentRepository.java
  src/main/java/com/prgrms/ohouse/domain/community/model/question/QuestionComment.java
  src/main/java/com/prgrms/ohouse/domain/community/model/question/QuestionCommentImage.java
  src/main/java/com/prgrms/ohouse/domain/community/model/question/QuestionCommentRepository.java
  src/main/java/com/prgrms/ohouse/domain/community/model/question/QuestionPost.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaHousewarmingPostCommentRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaHousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaQuestionCommentRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/custom/JpaHousewarmingPostCommentRepositoryCustom.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/custom/JpaHousewarmingPostRepositoryCustom.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/impl/JpaHousewarmingPostCommentRepositoryImpl.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/impl/JpaHousewarmingPostRepositoryImpl.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/impl/ListDecorator.java
  src/main/java/com/prgrms/ohouse/web/commerce/results/SliceResult.java
  src/main/java/com/prgrms/ohouse/web/community/housewarming/api/RestHousewarmingPostController.java
  src/main/java/com/prgrms/ohouse/web/community/question/api/RestQuestionCommentControllerV0.java
  src/main/java/com/prgrms/ohouse/web/community/question/api/RestQuestionPostControllerV0.java
  src/main/java/com/prgrms/ohouse/web/community/question/requests/QuestionCommentCreateRequest.java
  src/main/java/com/prgrms/ohouse/web/community/question/requests/QuestionCommentUpdateRequest.java
  src/main/java/com/prgrms/ohouse/web/community/question/requests/QuestionPostCreateRequest.java
  src/main/java/com/prgrms/ohouse/web/community/question/requests/QuestionPostUpdateRequest.java
  src/main/java/com/prgrms/ohouse/web/community/requests/HousewarmingPostCommentCreateRequest.java
  src/main/java/com/prgrms/ohouse/web/community/requests/HousewarmingPostCommentUpdateRequest.java
  src/main/java/com/prgrms/ohouse/web/requests/QuestionPostCreateRequest.java
  src/main/java/com/prgrms/ohouse/web/requests/QuestionPostUpdateRequest.java
  src/test/java/com/prgrms/ohouse/config/WithMockCustomUserSecurityContextFactory.java
  src/test/java/com/prgrms/ohouse/domain/community/application/HousewarmingPostServiceImplTest.java
  src/test/java/com/prgrms/ohouse/domain/community/application/QuestionCommentServiceTest.java
  src/test/java/com/prgrms/ohouse/domain/community/application/QuestionPostServiceTest.java
  src/test/java/com/prgrms/ohouse/domain/community/model/question/QuestionPostTest.java
  src/test/java/com/prgrms/ohouse/infrastructure/TestDataProvider.java
  src/test/java/com/prgrms/ohouse/web/community/api/RestHousewarmingPostControllerTest.java
Labels: Team-Joseph, Community

#34 [feat] 팔로잉 피드
  src/main/java/com/prgrms/ohouse/domain/community/application/FollowingFeedInfoResult.java
  src/main/java/com/prgrms/ohouse/domain/community/application/FollowingFeedService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/ImageResult.java
  src/main/java/com/prgrms/ohouse/domain/community/application/PostCategory.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/FollowingFeedServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/custom/JpaHousewarmingPostRepositoryCustom.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/impl/JpaHousewarmingPostRepositoryImpl.java
  src/main/java/com/prgrms/ohouse/web/community/api/RestFollowingFeedController.java
  src/test/java/com/prgrms/ohouse/domain/community/application/impl/FollowingFeedServiceImplTest.java
  src/test/java/com/prgrms/ohouse/web/community/api/RestFollowingFeedControllerTest.java
Labels: Team-Joseph

#36 Readme 초안 작성 (REST Docs, ERD 제외)
  README.md
Labels: Team-Joseph, Common

#35 [Refactor] 페이지 접근 권한 설정, 예외처리 추가
  src/main/java/com/prgrms/ohouse/config/SecurityConfig.java
  src/main/java/com/prgrms/ohouse/domain/common/security/AccessDeniedHandlerImpl.java
  src/main/java/com/prgrms/ohouse/web/community/api/RestFollowingFeedController.java
  src/main/java/com/prgrms/ohouse/web/user/results/ErrorCode.java
  src/test/java/com/prgrms/ohouse/web/user/api/UserRestControllerTest.java
Labels: Team-Joseph
