Repository prgrms-be-devcourse/BEDV2_o-house, pull requests merged in 2022-06, with the labels that each got.

#15 [fix] LocalFileUploader 수정
  src/main/java/com/prgrms/ohouse/OhouseApplication.java
  src/main/java/com/prgrms/ohouse/config/AwsS3Config.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/impl/ReviewServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/review/Review.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/review/ReviewImage.java
  src/main/java/com/prgrms/ohouse/domain/common/file/FileDeleteEntityListener.java
  src/main/java/com/prgrms/ohouse/domain/common/file/FileRepositoryDelegator.java
  src/main/java/com/prgrms/ohouse/domain/common/file/FileStore.java
  src/main/java/com/prgrms/ohouse/domain/common/file/QuestionPostImage.java
  src/main/java/com/prgrms/ohouse/domain/common/file/SimpleFileManager.java
  src/main/java/com/prgrms/ohouse/domain/common/file/StoredFile.java
  src/main/java/com/prgrms/ohouse/domain/community/model/post/question/QuestionPost.java
  src/main/java/com/prgrms/ohouse/domain/community/model/post/question/QuestionPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/model/post/question/QuestionPostServiceImpl.java
  src/main/java/com/prgrms/ohouse/infrastructure/file/LocalFileUploader.java
  src/main/java/com/prgrms/ohouse/infrastructure/file/S3FileStore.java
  src/main/java/com/prgrms/ohouse/web/api/v0/RestQuestionPostControllerV0.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/prgrms/ohouse/domain/commerce/application/ReviewServiceImplTest.java
  src/test/java/com/prgrms/ohouse/domain/commerce/model/review/ReviewTest.java
  src/test/java/com/prgrms/ohouse/domain/common/file/LocalFileUploadTest.java
Labels: Team-Joseph, Common

#16 Refactor 파일 저장 기능 구현 수정 +여러 자잘한 수정사항
  .gitignore
  src/main/java/com/prgrms/ohouse/OhouseApplication.java
  src/main/java/com/prgrms/ohouse/domain/commerce/application/impl/ReviewServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/commerce/model/review/Review.java
  src/main/java/com/prgrms/ohouse/domain/common/ImageAttachable.java
  src/main/java/com/prgrms/ohouse/domain/common/file/FileManager.java
  src/main/java/com/prgrms/ohouse/domain/common/file/FileRepository.java
  src/main/java/com/prgrms/ohouse/domain/common/file/FileRepositoryDelegator.java
  src/main/java/com/prgrms/ohouse/domain/common/file/FileUploader.java
  src/main/java/com/prgrms/ohouse/domain/common/file/ImageAttachable.java
  src/main/java/com/prgrms/ohouse/domain/common/file/MultipartFileManager.java
  src/main/java/com/prgrms/ohouse/domain/common/file/UploadFile.java
  src/main/java/com/prgrms/ohouse/domain/community/application/QuestionPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/application/command/QuestionPostRegisterCommand.java
  src/main/java/com/prgrms/ohouse/domain/community/application/dummy.java
  src/main/java/com/prgrms/ohouse/domain/community/application/impl/QuestionPostServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/Budget.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/District.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/Family.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousewarmingPost.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/HousingType.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/Link.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/WorkMetadata.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/WorkTarget.java
  src/main/java/com/prgrms/ohouse/domain/community/model/housewarming/WorkerType.java
  src/main/java/com/prgrms/ohouse/domain/community/model/post/hwpost/WorkerType.java
  src/main/java/com/prgrms/ohouse/domain/community/model/post/question/QuestionPostRepository.java
  src/main/java/com/prgrms/ohouse/domain/community/model/post/question/QuestionPostService.java
  src/main/java/com/prgrms/ohouse/domain/community/model/question/QuestionPost.java
  src/main/java/com/prgrms/ohouse/domain/community/model/question/QuestionPostImage.java
  src/main/java/com/prgrms/ohouse/domain/community/model/question/QuestionPostRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaFileRepository.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaQuestionPostRepository.java
  src/main/java/com/prgrms/ohouse/web/community/question/api/RestQuestionPostControllerV0.java
  src/main/java/com/prgrms/ohouse/web/responses/QuestionPostResponse.java
  src/test/java/com/prgrms/ohouse/domain/community/model/post/hwpost/DistrictTest.java
Labels: Team-Joseph, Community, Common, Commerce

#17 [feat] 회원정보 수정 + 조회 기능
  .gitignore
  src/main/java/com/prgrms/ohouse/config/SecurityConfig.java
  src/main/java/com/prgrms/ohouse/domain/common/file/UserImage.java
  src/main/java/com/prgrms/ohouse/domain/common/security/AccessDeniedHandlerImpl.java
  src/main/java/com/prgrms/ohouse/domain/common/security/AuthUtils.java
  src/main/java/com/prgrms/ohouse/domain/common/security/JwtAuthenticationToken.java
  src/main/java/com/prgrms/ohouse/domain/user/application/UserService.java
  src/main/java/com/prgrms/ohouse/domain/user/application/commands/UserUpdateCommand.java
  src/main/java/com/prgrms/ohouse/domain/user/application/impl/UserServiceImpl.java
  src/main/java/com/prgrms/ohouse/domain/user/model/Address.java
  src/main/java/com/prgrms/ohouse/domain/user/model/DuplicateEmailException.java
  src/main/java/com/prgrms/ohouse/domain/user/model/GenderType.java
  src/main/java/com/prgrms/ohouse/domain/user/model/User.java
  src/main/java/com/prgrms/ohouse/domain/user/model/UserRepository.java
  src/main/java/com/prgrms/ohouse/domain/user/model/exception/DuplicateEmailException.java
  src/main/java/com/prgrms/ohouse/domain/user/model/exception/DuplicateNicknameException.java
  src/main/java/com/prgrms/ohouse/domain/user/model/exception/FailedLoginException.java
  src/main/java/com/prgrms/ohouse/domain/user/model/exception/UserNotFoundException.java
  src/main/java/com/prgrms/ohouse/infrastructure/repository/JpaUserRepository.java
  src/main/java/com/prgrms/ohouse/web/api/ApiExceptionHandler.java
  src/main/java/com/prgrms/ohouse/web/api/RestReviewController.java
  src/main/java/com/prgrms/ohouse/web/results/ErrorCode.java
  src/main/java/com/prgrms/ohouse/web/user/api/ApiExceptionHandler.java
  src/main/java/com/prgrms/ohouse/web/user/api/UserRestController.java
  src/main/java/com/prgrms/ohouse/web/user/requests/UserCreateRequest.java
  src/main/java/com/prgrms/ohouse/web/user/requests/UserLoginRequest.java
  src/main/java/com/prgrms/ohouse/web/user/requests/UserUpdateRequest.java
  src/main/java/com/prgrms/ohouse/web/user/results/ErrorCode.java
  src/main/java/com/prgrms/ohouse/web/user/results/ErrorResult.java
  src/main/java/com/prgrms/ohouse/web/user/results/UserInfoResult.java
  src/main/resources/application-test.yml
  src/test/java/com/prgrms/ohouse/OhouseApplicationTests.java
  src/test/java/com/prgrms/ohouse/config/WithMockCustomUser.java
  src/test/java/com/prgrms/ohouse/config/WithMockCustomUserSecurityContextFactory.java
  src/test/java/com/prgrms/ohouse/domain/commerce/application/ReviewServiceImplTest.java
  src/test/java/com/prgrms/ohouse/domain/user/application/impl/UserServiceImplTest.java
  src/test/java/com/prgrms/ohouse/web/api/UserRestControllerTest.java
  src/test/java/com/prgrms/ohouse/web/user/api/JwtAuthenticationFilterTest.java
  src/test/java/com/prgrms/ohouse/web/user/api/UserRestControllerTest.java
  src/test/java/com/prgrms/ohouse/web/user/requests/UserCreateRequestTest.java
Labels: Team-Joseph, User
